#profile-page-header .card-image {
    height: 250px;
}
#profile-page-header .card-content .card-title {
    margin-bottom: 0px;
}
#profile-page-header .card-content {
    margin-top: -40px;
}
#content .container .row {
    margin-bottom: 0;
}
#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}
